# Python virtual environment
venv/

# Environment variables / secrets
.env
.env.*

# Python cache
__pycache__/
*.py[cod]

# Test/cache files
.pytest_cache/
.mypy_cache/

# Local IDE files
.vscode/
.idea/